<!doctype html>
<html>
  <head>
    <title>Nate St. George - GitHub Pages</title>
    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <!-- My style -->
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div id="header">
      <span class="subtitle">Master of Time, Space, and Reality</span>
      <span class="title">Nate St. George</span>
      <a href="https://github.com/StGerGer">Github</a>
    </div>
    <div id="sidebar">
      <a href="/index" class="clickable">projects/</a>
      <div class="indent">
        <a href="/vekta" class="clickable">vekta</a>
      </div>
    </div>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
